/*

!.gitignore
!flake.nix
!flake.lock
!config.nix
!home.nix
!homeModules.nix
!systemModules.nix
!modules/
!hosts/
!flakes/
!config/

.aider*
*.bak
*.swp
*.tmp
.sops.yaml
secrets/
result
result-*

flakes/Rust/target/
flakes/Rust/.devenv
