/*

!.gitignore
!flake.nix
!flake.lock
!config.nix
!home.nix
!homeModules.nix
!systemModules.nix
!nixosModules.nix
!Config/
!Develop/
!Flakes/
!Hosts/
!Modules/

.aider*
*.bak
*.swp
*.tmp
.sops.yaml
secrets/
result
result-*

Develop/Rust/target/
Develop/Rust/.devenv
